* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}
body {
  background-color: rgb(44, 57, 95);
}

h1 {
  margin-top: 1em;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.container {
  margin: 1em auto;
  width: 80%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 5 - 0.4em);
  height: 100px;
  background-color: teal;
  font-size: 1rem;
  cursor: pointer;
}

.fizz {
  background-color: rgb(26, 169, 81);
}

.buzz {
  background-color: yellow;
}

.fizz-buzz {
  background-color: crimson;
  font-size: 0.7rem;
}
